[Unit]
Description=gphoto2 service taking a timelaps
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Path]
DirectoryNotEmpty=/dev/bus/usb/001

[Service]
Type=simple
Restart=always
RestartSec=30
User={{ client.gphoto.user }}
ExecStart=/usr/bin/env {{ client.root_folder }}/gphoto2-start.sh
StandardOutput=append:{{client.gphoto.log_file}}
StandardError=append:{{client.gphoto.log_file}}


[Install]
WantedBy=multi-user.target
