#! /bin/bash
sudo killall gvfsd-gphoto2
sudo killall gvfs-gphoto2-volume-monitor
sudo gphoto2 --auto-detect
sudo gphoto2 -a
sudo gphoto2 --capture-image-and-download --set-config "imageformat={{client.gphoto.imageformat}}" --filename "{{ client.data_folder }}/%Y%m%d%H%M%S.%C" --interval "{{client.gphoto.interval}}"