#! /bin/bash
sudo killall gvfsd-gphoto2
sudo killall gvfs-gphoto2-volume-monitor
sudo gphoto2 --auto-detect
sudo gphoto2 -a
sudo gphoto2 --set-config "imagesize={{client.gphoto.imagesize}}" --capture-image-and-download --filename "{{ client.data_folder }}/%Y-%m-%d_%H_%M_%S.%C" --interval "{{client.gphoto.interval}}" 
