# access rights
uid = {{ rsync.user }}
gid = {{ rsync.group }}
# Prevent uploads
read only = false
# Prevent leaving predefined path
use chroot = true
# Log options
pid file = /var/run/rsyncd.pid
lock file = /var/run/rsync.lock
transfer logging = true
log file = /var/log/rsync.log
log format = %h %o %f %l %b
port = {{ rsync.port }}
[files]
path = {{ server.data_folder }}
comment = rsync main directory